$backgroundColorTransition : background-color .3s ease-in-out;
$allTransition: all .3s ease-in-out;
$priceColor: rgb(31, 168, 31);
$crimsonColorHoverChange: rgb(139, 25, 48);
$cardBoxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;