@import './mixins';
@import './variables';


.admin-inventory{
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 1rem;

    .admin-inventory-search{
        display: flex;
        width: 40vw;
        padding-left: 1rem;
        height: 2.5rem;
    }
    .admin-inventory-body{
        background-color: white;
        height: 85%;
        border-radius: 10px;
        padding: 2rem;

        .admin-inventory-head{
            display: flex;
        }
        .admin-inventory-item{
            width: 45rem;
            text-decoration: underline;
        }
        .admin-inventory-quantity{
            width: 12rem;
            text-align: center;
            text-decoration: underline;
        }
        .admin-inventory-price{
            width: 12rem;
            text-align: center;
            text-decoration: underline;
        }
        .admin-inventory-action{
            width: 8rem;
        }
        .admin-inventory-products{
            overflow: auto;
            height: 90%;

            .inventory-product{
                display: flex;
                padding: .5rem 0;
            }
            .inventory-img-name{
                width: 45rem;
                display: flex;
                flex-shrink: 0;

                & img{
                    height: 8rem;
                    width: 6rem;
                }
                & p{
                    max-height: 8rem;
                    max-width: 33rem;
                    font-size: 1.1rem;
                    margin-left: .5rem;
                    margin-bottom: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            .inventory-quantity{
                width: 12rem;
                flex-shrink: 0;
                @include flex-direction(column);
                align-items: center;
                & span{
                    background-color: rgb(216, 216, 216);
                    padding: .8rem;
                    width: fit-content;
                    max-width: 8rem;
                    border-radius: 10px;
                    height: fit-content;
                    margin-bottom: .5rem;
                }
                .inventory-quantity-control{
                    @include alignCenterWithoutJustifyContent;
                    & input{
                        height: 2rem;
                        width: 3.5rem;
                    }
                    & button{
                        height: 2rem;
                        font-size: .8rem;
                        cursor: pointer;
                    }
                }
            }
            .inventory-price{
                width: 12rem;
                flex-shrink: 0;
                font-size: 1.2rem;
                text-align: center;
                color: green;
                margin-top: .5rem;
            }
            .inventory-action{
                width: 8rem;
                flex-shrink: 0;
                text-align: center;
            }
            .inventory-delete{
                cursor: pointer;
                background-color: crimson;
                color: white;
                height: fit-content;
                @include justify-content(center);
                flex-direction: column;
                width: fit-content;
                font-size: .9rem;
                border-radius: 20px;
                padding: .3rem 1.5rem;
                margin: 0 auto;
                transition: $backgroundColorTransition;
                &:hover{
                    background-color: $crimsonColorHoverChange;
                }
                & p{
                    text-align: center;
                    margin: 0;
                    font-size: .8rem;
                }
            }
        }
    }
}


.admin-head{
    @include justify-content-no-align(space-between);
    align-items: flex-start;
    margin-bottom: 1rem;
}
.admin-dropdown{
    position: relative;
    z-index: 10;
    
    .dropdown-head{
        background-color: rgb(235, 235, 235);
        @include justify-content(space-between);
        padding: .5rem;
        width: 7rem;
        cursor: pointer;
    }
    .dropdown-options-close{
        display: none;
    }
    .dropdown-options-open{
        background-color: rgb(235, 235, 235);
        width: inherit;
        position: absolute;
        top: 130%;
        right: 1vw;

        & div{
            color: black;
            white-space: nowrap;
            padding: 1rem .5rem;
            transition: $backgroundColorTransition;
            cursor: pointer;
            &:hover{
                background-color: rgb(152, 152, 152);
            }
        }
    }
}

@media (max-width: 950px) {
    .admin-head{
        flex-direction: column;
        padding: 0 .5rem;

        & h2{
            max-width: 50vw;
        }
    }
    .admin-dropdown{
        position: absolute;
        right: .5rem;

        .dropdown-head{
            width: 5rem;
        }
    }


    .admin-inventory{
        width: 100vw;
        .admin-inventory-search{
            width: 80vw;
            margin: 0 auto;
            margin-top: 1rem;
        }
        .admin-inventory-body{
            padding: 1rem;

            .admin-inventory-head{
                display: none;
            }
            .admin-inventory-products{
                width: 100%;
                .inventory-img-name{
                    width: 25rem;
                    & img{
                        height: 5rem;
                        width: 4rem;
                    }
                }
                .inventory-quantity{
                    width: 9rem;
                }
                .inventory-price{
                    width: 9rem;
                }
                .inventory-delete{
                    padding: .2rem 1rem;
                }
            }
        }
    }
}