@import './mixins';
@import './variables';

.category{
    margin: 0 auto;
    margin-top: 15vh;
    width: 90vw;

    & h1{
        margin: 0;
        text-transform: capitalize;
        text-align: center;
    }
    .container{
        background-color: white;
        border-radius: 15px;
        margin-top: 2rem;
        padding: 2rem 0;
    }
    .item-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .product-card{
            height: 19rem;
            width: 12rem;
            margin: 1rem;
        }
        .product-card-img{
            height: 12rem;
        }
        .product-card-price{
            font-size: 1.1rem;
        }
        .product-card-body{
            line-height: 1.3rem;
        }
    }
}

@media (max-width: 768px) {
    .category{
        margin-top: 20vh;
        width: 100vw;

        .item-container{
            .product-card{
                width: 8.5rem;
                height: 17rem;
                margin: 1rem .5rem;
            }
            .product-card-img{
                height: 11rem;
            }
            .product-card-body{
                padding: .5rem;
            }
            .product-card-name{
                font-size: .85rem;
            }
        }
    }
}