@import './variables';
@import './mixins';

.product{
    margin-top: 20vh;
}

.product-container{
    width: 90vw;
    height: fit-content;
    background-color: white;
    margin: auto;
    .container-flex{
        @include justify-content-no-align(space-between);
        padding: 3rem;
    }
    .product-img{
        max-width: 35vw;
        margin-right: 2rem;
        object-fit: cover;
    }
    .product-info{
        @include flex-direction(column);
        min-width: 40vw;
        & span {
            font-size: 1rem;
            font-weight: bold;
        }
        & h4{
            padding: 2rem 0;
        }
    }
    .product-name{
        padding-bottom: 1rem;
        height: fit-content;
    }
    .out-of-stock{
        color: crimson;
        border-bottom: 1px solid rgba(0, 0, 0, 0.238);
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
    .product-price{
        color: $priceColor;
        font-weight: bold;
        border-bottom: 1px solid rgba(0, 0, 0, 0.238);
        padding: 2rem 0;
    }
    .fav-cart{
        @include justify-content-no-align(space-between);
        padding: 2rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.238);
        .cart{
            width: 25vw;
            border: none;
            background-color: crimson;
            color: white;
            border-radius: 20px;
            transition: $backgroundColorTransition;
            padding: .7rem 0;
            font-size: 1.3rem;
            &:hover{
                background-color: $crimsonColorHoverChange;
            }
        }
        .unmarked{
            border: none;
            border-radius: 20px;
            font-size: 1.5rem;
            padding: 0rem 1rem;
            color: white;
            background-color: crimson;
            transition: $backgroundColorTransition;
            &:hover{
                background-color: white;
                color: crimson;
            }
        }
        .marked{
            border: 1px solid crimson;
            border-radius: 20px;
            font-size: 1.5rem;
            padding: 0rem 1rem;
            color: crimson;
            transition: $backgroundColorTransition;
            &:after{
                content: 'Remove';
                margin: 0 .5rem;
                font-size: 1rem;
            }
            &:hover{
                background-color: crimson;
                color: white;
            }
        }
    }
    .share{
        @include flex-direction(column);
    }
    .social{
        background-color: rgb(218, 218, 218);
        cursor: pointer;
        font-size: 1.6em;
        padding: 1rem .5rem;
        border-radius: 20px;
        width: 2.5rem;
        text-align: center;
        margin-right: 1rem;
        transition: $backgroundColorTransition;
        &:hover{
            background-color: gray;
            color: white;
        }
    }
    .report{
        margin: 0;
        margin-top: auto;
        margin-left: auto;
        width: fit-content;
        @include justify-content-no-align(flex-end);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}


.description{
    width: 90vw;
    height: fit-content;
    background-color: white;
    margin: auto;
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    & h4{
        border-bottom: 1px solid rgba(0, 0, 0, 0.238);
        font-weight: bold;
        padding: 1.5rem 0;
    }
    & div{
        padding: 1rem 0;
    }
} 

@media (max-width: 768px) {
    .product-container{
        width: 100vw;

        .container-flex{
            flex-direction: column;
            padding: 0;
        }
        .product-img{
            max-height: 60vh;
            max-width: 90vw;
            margin: 2rem auto;
        }
        .product-info{
            width: 100vw;
            min-width: 0;
            margin: 0 auto;
            padding: 0 1rem;
        }
        .fav-cart{
            .cart{
                font-size: 4vw;
                padding: .7rem 0;
                width: 40vw;
            }
            .unmarked{
                font-size: 4vw;
                margin: 0;
            }

        }
        .share{
            align-items: center;
        }
        .report{
            justify-content: center;
            margin: 2rem 0;
        }
    }

    .description{
        width: 100vw;
        padding: 0 1rem;
        & div{
            font-size: clamp(.9rem, 30%, 1rem);
        }
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .cart{
        font-size: 3vw;
    }
}